/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
@keyframes slideRight {
  from {
    transform: translateX(-100%); 
  }
  to {
    transform: translateX(0);
  }
}

.Background{
  background-color: black;
  height: 1000px;
  
}

.Header_fieldset{
  margin:auto;
  padding:0px;

}

.Header{
  background-color: hsla(218, 100%, 20%, 0.757);
  width:100%;
  height:80px;
  margin: auto;
  display:inline-flex;
}

.appLogo,.profile{
  height:50px;
  width:50px;
  padding-right: 3px;
}

.options{
  margin-left: 1000px;
  margin-right:auto;
  color: azure;
}

.optionItem{
  padding-left: 10px;
  padding-right: 10px;
}

.Entrepreneur-pic{
  width:50%;
  height:50%;
  padding-top:20px ;
  padding-left:20px;
  position: relative;
  animation: slideRight 1s ease-in-out forwards;
}